<ul class="offcanvas__menu_ul">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'category_menu' -%}
        <li class="offcanvas__menu_li">
          <a class="mobile__catgory--mneu-link offcanvas__menu_item" href="{{  block.settings.cat_menu_url }}">
            {% if block.settings.icon != 'none' %}
              <span class="categories__menu--icon svg--icon">
                {% render 'categories-menu-icon', icon: block.settings.icon %}
              </span>
            {% endif %}
            {%- if block.settings.image != blank -%}
              <span class="categories__menu--icon image--icon">
                <img
                  src="{{ block.settings.image | img_url: '30x' }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  width="30"
                  height="{{ 30 | divided_by: block.settings.image.aspect_ratio | ceil }}"
                  loading="lazy"
                >
              </span>
            {%- endif -%}
            <span class="categories__menu--label">{{ block.settings.cat_menu_name }}</span>
          </a>
          {%- if block.settings.menu.links != blank -%}
            <ul class="offcanvas__sub_menu">
              {%- for link in block.settings.menu.links -%}
                <li class="offcanvas__sub_menu_li">
                  {%- if link.links != blank -%}
                    <a class="offcanvas__sub_menu_item" href="{{ link.url }}">
                      {{ link.title | escape }}
                    </a>
                    <ul class="offcanvas__sub_menu">
                      {%- for childlink in link.links -%}
                        <li class="offcanvas__sub_menu_li">
                          <a class="offcanvas__sub_menu_item" href="{{ childlink.url }}">
                            {{- childlink.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {%- else -%}
                    <a class="offcanvas__sub_menu_item" href="{{ link.url }}">
                      {{- link.title | escape -}}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}
        </li>
    {%- endcase -%}
  {%- endfor -%}

</ul>
